
/*nav{
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
  padding: 8px;

  border: 1px solid green;

  background: rgba(31, 28, 60, 0.1);
  border: 1px solid #1F1C3C;
  backdrop-filter: blur(8px);

  border: 1px solid red;

  //align-items: center;
}*/

header{
  position: fixed;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1280px;
  width: 92vw;
  height: 72px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 40px;

  z-index: 990;
  opacity: 0;

  padding: 8px 8px 8px 8px;

  transition: 1s ease;

  @include responsive(s){
    top: 7%;
    left: 50%;
  }
  
}

.active-header{
  opacity: 1;
}